@import '../../sass/variables';
@import '../../sass/breakpoints';



.heroImgContainer{
    position: relative;
    height: 10vw;

    .heroImg{
        position: absolute;
        width: 80vw;
        left: 50%;
        transform: translate(-50%, 0px);
        z-index: 3;
        @include tablet{
            width: 60vw; 
        }
        @include desktop{
            width: 40vw; 
        }
    }
}


  

  