.featureItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    
    .featureNumber {
        border: 1px solid black;
        border-radius: 50%;
        width: fit-content;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
    }
    .featureHeading{
        color: var(--primary-color);
    }
    .featureContent{
        margin-bottom: 40px;
        text-align: center;
        color: var(--primary-color);

    }
}
