.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.imgContainer{
    text-align: center;
}

.img{
    width: 80%;
}
.statement{
    position: relative;
    bottom: 50px;
    background: var(--primary-color);
    color: white;
    padding: 5px;
    text-align: center;
    padding: 35px;
}

.content{
    margin-bottom: 25px;
}

